@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ===== Global Styles ===== */
html, body {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a {
    text-decoration: none;
    color: white;
    padding-right: 2px !important;
}

h1, h6 {
    color: white !important;
    text-align: center;
}

p.lead, p.lead.text-muted {
    color: white !important;
}

input, input::placeholder, input::-webkit-input-placeholder {
    background-color: #f8f9fa !important;
    color: #333 !important;
}

/* ===== Navbar Styles ===== */
.nav-link {
    font-weight: 500;
    position: relative;
    padding-right: 10px;
}

.nav-link:hover,
.nav-link.active {
    color: orange;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: orange;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
    visibility: visible;
}

.navbar-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.nav-center {
    justify-self: center;
}

nav {
    margin-bottom: 600px;
}
video {
    size: 100% 100%;
    z-index: -1;
}