{% extends "core/base.html" %}
{% load static %}
{% block navbar_extra %}
    <form class="d-flex" method="POST" action="{% url 'core:search' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search Games" name="searched">
    </form>
{% endblock navbar_extra %}
{% block content %}
    <video autoplay muted loop playsinline webkit-playsinline class="bg-video">
        <source src="{% static 'core/bg.mp4' %}" type="video/mp4">
    </video>
    <div class="{% block main_class %}container-fluid px-0{% endblock %}">
        <h1 class="text-center mb-4">{{ game.name }}</h1>

        <div id="blackout"></div>
        <button id="show-blackout" class="btn btn-danger mb-3 mx-auto d-block">
            EMERGENCY COVER SCREEN
        </button>
        <button id="hide-blackout" class="btn btn-success mb-3 mx-auto d-block">
            REMOVE COVER
        </button>

        <div class="game-container">
            <iframe src="{{ game.iframe }}" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
