{% extends "core/base.html" %}
{% load static %}
{% block head %}
    <link rel="icon" type="image/x-icon" href="{% static 'core/favicon.ico' %}">
{% endblock head %}
{% block content %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <video autoplay muted loop plays-inline class="bg-video">
        <source src="{% static 'core/video.mp4' %}" type="video/mp4">
    </video>
      <main role="main" class="inner cover text-center justify-content-center align-items-center">
        <h1 class="display-1"><b><strong>Power</br>Games</strong></b></h1>
        <p class="cover" name="description"><strong>PowerGames is a platform for all your gaming needs. With a wide variety of games,
             PowerGames has something for everyone.</strong></p>
        <p class="lead" style="color: white !important;">
          <a href="{% url 'core:game' %}"
           class="btn btn-lg btn-secondary"><strong>All Games</strong></a>
        </p>
      </main>
</div>
{% endblock content %}
