{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <center>
    {% if searched %}
        <h1>You Searched For: {{ searched }}</h1>
        <br/>
        <div class="row g-4">
        {% for game in all_games %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="game-container" style="position: relative; width: 100%; padding-bottom: 100%; height: 0; overflow: hidden; border-radius: 8px; background: #f0f0f0;">
                    <iframe seamless="seamless" allowtransparency="true" allowfullscreen="true"
                    frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0px;" src="{{ game.iframe }}"></iframe>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h1>You forgot to search!</h1>
    {% endif %}
    </center>
    
{% endblock content %}
