{% extends 'core/base.html' %}
{% load static %}
{% block navbar_extra %}
    <form class="d-flex" method="POST" action="{% url 'core:search' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search Games" name="searched">
    </form>
{% endblock navbar_extra %}
{% block content %}
    <video autoplay muted loop playsinline webkit-playsinline class="bg-video">
        <source src="{% static 'core/bg.mp4' %}" type="video/mp4">
    </video>
    <center>
    {% if searched %}
        <h1>You Searched For: {{ searched }}</h1>
        <br/>
        <div class="row g-4">
        {% for game in all_games %}
            <a href="{% url 'core:game' game.id %}" class="col-md-4 text-decoration-none text-dark">
                <ul style="border: 1px solid black; border-radius: 5px; padding: 50px; width: 100%; background: #f8f9fa; text-align: center; list-style-type: none;">
                    <h4>{{ game.name }}</h4>
                </ul>
            </a>
        {% endfor %}
        </div>
    {% else %}
        <h1>You forgot to search!</h1>
    {% endif %}
    </center>
    
{% endblock content %}
