@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    background-color: #1A253A !important;
    font-family: 'Montserrat', 'sans-serif';
    background-color: #1A253A !important;
    color: white !important;
    margin: 0;
}
a
{
    padding-right: 2px !important;
}
main {
    flex: 1;
    background-color: #1A253A !important;
    color: white;
}

input, input::placeholder, input::-webkit-input-placeholder {
    background-color: #f8f9fa !important;
    color: #333 !important;
}

footer {
    margin-top: auto;
    background-color: #1A253A !important;
    color: white !important;
}

iframe {
    display: flex;
    justify-items: legacy;
}

.nav-link {
    font-weight: 500;
    position: relative;
    padding-right: 10px;
}

.nav-link:hover,
.nav-link.active {
    color: orange;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: orange;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
    visibility: visible;
}

a {
    text-decoration: none;
    color: white;
}

h6 {
    color: white;
    justify-content: center;
}
a.cta {
    border-radius: 5px;
    font-family: 'Monserrat', 'sans-serif';
    font-weight: 600;
}
h1 {
    color: white !important;
    text-align: center;
    margin-top: 10px !important;
}


.pagination-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.navbar-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.nav-center {
  justify-self: center;
}
#home {
    color: white !important;
}
#all {
    margin-top: 10px !important;
}
nav{
    margin-bottom: 16px;
}